body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#countdown-container {
    position: relative;
    width: 800px;
    /* Increased width */
    height: 500px;
    /* Increased height */
    background-color: white;
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#countdown {
    font-size: 48px;
    margin-bottom: 10px;
    margin-top: 0px;
}

#skip-btn {
    position: absolute;
    top: 400px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

#skip-btn:hover {
    background-color: #0056b3;
}

#main-content {
    text-align: center;
}

#main-content h1 {
    font-size: 36px;
    color: #007bff;
}

@media only screen and (max-width: 768px) {

    #desktop-content {
        display: none;
    }

    #mobile-content {
        display: block;
        margin: 10px;
        text-align: center;
        font-size: 15px;
    }

    #mobile-content h1 {
        font-size: 30px;
        color: #007bff;
    }

    #countdown-container {
        position: relative;
        width: 80%;
        /* Increased width */
        height: 50%;
        /* Increased height */
        background-color: white;
        border: 2px solid #007bff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #countdown {
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: 0px;
    }
}

@media only screen and (min-width: 768px) {

    #desktop-content {
        display: block;
    }

    #mobile-content {
        display: none;
    }
}